# dependências
node_modules/

# builds
dist/
functions/lib/
coverage/

# env
.env
.env.*
!.env.example
!.env.emulator

# firebase
.firebase/
*-debug.log*
emulator-data/

# logs e sistema
*.log
.DS_Store
Thumbs.db

# editores
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
